@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #014E56;

    font-family: 'Poppins', sans-serif;
}

.container {
     width: 100%;
     max-width: 1240px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 20px;
     padding-right: 20px;
}

.header-content {
    display: flex;
    align-items: center;
     margin-left: 250px;
     margin-top: 30px;
}

.header-logo {
    width: 165px;
    height: 162px;
}

.header-link {
    letter-spacing: 2px;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 60px;
    margin-top: 10px;
}

@media only screen and (max-width:776px) {
    .header-content {
         margin-left: 25px;
         margin-top: 20px;

    }
    
    .header-logo {
        width: 60px;
        height: 62px;
    }
    
    .header-link {
        letter-spacing: 1px;
        margin-left: 6px;
        font-weight: 800;
        font-size: 25px;
    }

    .hero-line {
        margin-top: 10px;
        margin-left: auto;
        margin-right: 200px;
        display: block;
        background-color: #fff;
    }
}

.hero-heading {
    text-align: center;
    line-height: 87px;
    color: #ffb63e;
    font-size: 80px;
}

.hero-content {
    margin-top: 50px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    font-weight: 500;
    opacity: 0.8;
     margin-left: 300px;
     color: #fff;
}

.hero-line {
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    height: 2px;
    display: block;
    background-color: #fff;
}

.section-hero-line {
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    width: 100%;
    height: 3px;
    display: block;
    background-color: #fff;
    margin-top: 50px;
}

@media only screen and (max-width:776px) {
    .hero-heading {
        line-height: 55px;
        color: #ffb63e;
        font-size: 65px;
    }
    
    .hero-content {
        margin-top: 50px;   
        display: block;
    }
    
    .hero-text {
         margin-left: auto;
         margin-right: auto;
         text-align: center;
         margin-top: 20px;
         
    }
    
    .section-hero-line {
        width: 310px;
        margin-left: auto;
        margin-right: 30px;
        height: 1px;
        margin-top: 30px;
    }
}

.intro-section {
     background-color: #004047;
     height: 500px;
}

.intro-heading {
    padding-top: 40px;
    color:#fff;
    font-size: 70px;
    width: 700px;
}

.intro-span {
     color: #F67E7E;
}

.intro-item {
     display: flex;
     margin-bottom: 15px;
     align-items: center;  
}


.intro-item-heading {
    color: red;
    margin-left: 10px;
    font-size: 40px;
}

.intro-item-heading1 {
    margin-left: 10px;
    font-size: 40px;
    color: rgb(0, 162, 255);
}

.intro-item-heading2 {
    margin-left: 10px;
    font-size: 40px;
    color: #F67E7E;
}

.intro-item-heading3 {
    margin-left: 10px;
    font-size: 40px;
    color: black;
}

.intro-line {
     width: 20px;
     height: 5px;
     display: block;
     margin-left: 10px;
     background-color: #fff;
}

.intro-list {
    margin-top: 90px;
    margin-left: 80px;
}

.intro-content {
     display: flex;
     align-items: center;
}

@media only screen and (max-width:776px) {
   
   .intro-heading {
       padding-top: 25px;
       font-size: 35px;
       width: 400px;
       text-align: center;
   }
   
   .intro-content {
    display: block;
    }

   .intro-item {
        margin-bottom: 10px;
   }
   
   
   .intro-item-heading {
       font-size: 28px;
   }
   
   .intro-img {
    width: 40px;
    height: 40px;
   }  

   .intro-item-heading1 {
       font-size: 28px;
   }
   
   .intro-item-heading2 {
       font-size: 28px;
   }
   
   .intro-item-heading3 {
       font-size: 28px;
   }
   
   .intro-list {
       margin-top: 40px;
       margin-left: 80px;
   }
   
}

.famous {
     background-color: #012F34;
     height: 900px;
}

.famous-img {
     width: 90px;
     height: 90px;
}

.famous-heading {
     color: #fff;
     font-size: 80px;
     width: 800px;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     padding-top: 60px;
}

.famous-span {
     color: #F67E7E;
}

.famous-item {
    margin-right: 85px;
    width: 250px;
    text-align: center;
    list-style-type: none;
}

.narx-span {
     font-weight: 800;
}

.famous-item-heading {
     color: #fff;
     font-size: 25px;
     padding-top: 10px;
}

.famous-text {
     color: #fff;
     padding-top: 10px;
}

.famous-list {
     display: flex;
     margin-left: 50px;
     margin-top: 40px;
}

@media only screen and (max-width:776px){

    .famous {
        height: 1990px;
    }
   
   .famous-img {
        width: 60px;
        height: 60px;
   }
   
   .famous-heading {
        font-size: 40px;
        width: 400px;
        padding-top: 30px;
   }
   
   .famous-item {
      padding-right: 50px;
      padding-top: 60px;
      width: 100%;
   }
   
   .famous-item-heading {
        font-size: 20px;
   }
   
   .famous-list {
        display: block;
        margin-top: 40px;
   }
}

.murojaat {
     background-color: #F67E7E;
     height: 200px;
}

.murojaat-content {
    padding-top: 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.murojaat-heading {
    color: #002529;
    font-size: 80px;
}

.murojaat-btn {
    padding: 14px 36px ;
    border: 2px solid #012F34;
    border-radius: 24px;
    color: #002529;
    font-weight: 800;
    font-size: 20px;
    background-color:   rgb(77, 224, 250);
}

.murojaat-btn:hover {
     background-color: #222;
     padding: 9px 31px ;
     color: #fff;
     transition: all ease-in 0.5s;
}

.murojaat-btn:active {
     background-color: gold;
     padding: 18px 40px;
     transition: all ease-in 0.5s ;
     color: #002529;
     opacity: 0.5;
}

.murojaat-btn:focus {
     background-color: gold;
     color: #002529;
     padding: 14px 36px;
     text-decoration: none;
     opacity: 0.4;
}

@media only screen and (max-width:776px) {
    .murojaat {
        height: 200px;
   }
   
   .murojaat-content {
       padding-top: 30px;
        display:block;
   }
   
   .murojaat-heading {
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       font-size: 40px;
   }
   
   .murojaat-btn {
       padding: 10px 32px ;
       border: 2px solid #012F34;
       border-radius: 24px;
       color: #002529;
       font-weight: 800;
       font-size: 20px;
       margin-left: 90px;
       margin-top: 30px;
       background-color:   rgb(77, 224, 250);
   }
   
   .murojaat-btn:hover {
        background-color: #222;
        padding: 9px 31px ;
        color: #fff;
        transition: all ease-in 0.5s;
   }
   
   .murojaat-btn:active {
        background-color: gold;
        padding: 18px 40px;
        transition: all ease-in 0.5s ;
        color: #002529;
        opacity: 0.5;
   }
   
   .murojaat-btn:focus {
        background-color: gold;
        color: #002529;
        padding: 14px 36px;
        opacity: 0.4;
   }
}